$primary: #fee715;
$primaryLight: #ffff5b;
$primaryDark: #9B8E00;
$secondary: #303030;
$secondaryLight: #424242;
$secondaryDark:#212121;
$primaryText: #000000;
$secondaryText: #ffffff;

@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $secondaryDark;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: $secondaryLight;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}
