<div class="content mx-auto py-5 col-lg-8">
  <div class="card bg-secondary">
    <div class="card-header bg-primary">
      <h2>Smartphone Companion</h2>
    </div>
    <div class="card-body">
      <h3 class="text-primary text-center">Welcome to Smartphone Companion</h3>

      <p class="text-primary text-justify mt-5 col-lg-6 mx-auto">To sign in on this computer, please open Smartphone
        Companion on your Android device, follow the instructions to sign in and scan the code below:</p>

      <!--QR Code-->
      <div class="card text-center mx-auto my-5 qr-code-card">
        <ng-container *ngIf="user$ | async as user; else loading">
          <ngx-qrcode [qrc-value]="user.uid" qrc-class="qr-code" [qrc-element-type]="'img'"></ngx-qrcode>
        </ng-container>
        <ng-template #loading>
          <div class="spinner-grow text-primary mx-auto my-auto">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-template>
      </div>

      <p class="text-primary text-justify my-5 col-lg-6 mx-auto">Please make sure you have a stable internet
        connection on both your computer and your smartphone.</p>
    </div>
  </div>
</div>