<div class="main-container">
  <ng-container *ngIf="user$ | async as user; else loading">
    <!--Anonymous user-->
    <ng-container *ngIf="user.isAnonymous">
      <h1>Anonymous user</h1>
      <ngx-qrcode [qrc-value]="uid" qrc-class="qr-code" [qrc-element-type]="'img'"></ngx-qrcode>
    </ng-container>

    <!--Logged user-->
    <ng-container *ngIf="!user.isAnonymous">
      <h1>Logged user {{ user.phoneNumber }}</h1>
      <button (click)="logOut()">Sign Out</button>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <h1>Loading</h1>
  </ng-template>
</div>