@import '../../styles.scss';

.contact-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: $primary;
  color: $secondaryDark;
  line-height: 32px;
  font-size: 24px;
  font-weight: 500;
}

.last-messages {
  height: 512px;
}

.lastMessage:hover,
.lastMessage.active {
  background-color: $secondaryLight;
  cursor: pointer;
}

.messages {
  height: 448px;
}

.message.sent {
  text-align: right;
  background-color: $primary;
  color: $primaryText;
}

.message.received {
  text-align: left;
  background-color: $secondaryLight;
  color: $secondaryText;
}

.message {
  max-width: 75%;

  .message-date {
    font-size: 10px;
    float: right;
  }
}
