@import '../../styles.scss';

.last-messages {
  height: 512px;
}

.lastMessage:hover,
.lastMessage.active {
  background-color: $secondaryLight;
  cursor: pointer;
}

.messages {
  height: 448px;
}

.message.sent {
  text-align: right;
  background-color: $primary;
  color: $primaryText;
}

.message.received {
  text-align: left;
  background-color: $secondaryLight;
  color: $secondaryText;
}

.message {
  max-width: 75%;

  .message-date {
    font-size: 10px;
    float: right;
  }
}

.compose {
  height: 48px;
  background-color: $secondaryLight;

  .row {
    input {
      background: none;
      border-style: none;
      border-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none;
      line-height: 48px;
    }

    .send-button {
      line-height: 48px;

      img {
        cursor: pointer;
      }
    }
  }
}
